div.artifact-versions {
  position: relative;
  background: #3b3f41;
  padding:0;
  margin: 0;

}


div.artifact-versions select {
  -webkit-appearance:none;
  vertical-align: top;
  font-size: inherit;
  font-family: inherit;
  font-size: 90%;
  background: #3b3f41;
  border: 1px solid #3b3f41;
  padding: 2px;
  max-height: 20em;
}

