
/* Selector */
div.refactor-select {
  position: relative;
  display: inline-block;
  background: #3b3f41;
  padding:0;
  margin: 0;
}


div.refactor-select select {
  -webkit-appearance:none;
  vertical-align: top;
  font-size: inherit;
  font-family: inherit;
  font-size: 90%;
  color: white;
  background: #3b3f41;
  border: 1px solid #3b3f41;
  padding: 2px;
  max-height: 20em;
}


/* result listing */
.search-results .entry.active {background: #404040;}
.search-results .entry.active .line {background: #999;color: #3b3f41;}


/* prompt form */
.CodeMirror-hints.refactor-prompt input { display:inline; }


#nsbrowser-wrapper {background: inherit;}

#nsbrowser-wrapper input {width: 100%;}
#nsbrowser-wrapper .filter-list > ul.nsselection {top: 65px;}
#nsbrowser-wrapper div.nstitle {font-Weight: bold; font-size: 14px; text-align: center; position:relative;}
